<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/15395743-7c4f-49e6-9df3-3f9573cea3ff/resourcegroups/appsvc_windows_uaenorth/providers/Microsoft.Web/sites/healthcare-backend-mh</ResourceId>
    <ResourceGroup>appsvc_windows_uaenorth</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://healthcare-backend-mh-e0bxeqf3hpb6a9ft.uaenorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>69689652-8f27-4cd5-b8a5-91291f18b1d6</ProjectGuid>
    <PublishUrl>https://healthcare-backend-mh-e0bxeqf3hpb6a9ft.scm.uaenorth-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>